/**
*
*   Payment window styling
*
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

#epay_paymentinfo, 
#epay_testmode_message,
#epay_paymentcollection label {
  display: none;
}

#epay_paymentcards_form input,
#epay_paymentcards_form label,
{
  font-family: 'Montserrat', sans-serif;
}  

#epay_paymentcollection {
  width: 320px; 
}  

#epay_paymentcards_form ul li {
  margin-top: 16px;
  margin: 16px;
}

input::-webkit-input-placeholder {
    color: #a2a2a1;
}

.epay_payment_button_light {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    margin: 0 16px;
    width: 288px;
    padding: 13px 20px;
    background: #54a8d1;
    border-radius: 7px;
    color: #ffffff;
}  
